.header {
    background-image: url(./images/weather.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 50em; 
    height: 10em;
    margin: auto;
    border: 3em;
    text-align: center;
    font-style: italic;
    font-size: large;
    
}

.index {
    display: flex;
    justify-content: center;
}

