.header {
    background-image: url(./images/weather.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 25em; 
    height: 5em;
    margin: auto;
    border: 3em;
    text-align: center;
    font-style: sans-serif;
    font-size: x-large;
    text-shadow: -1px 0 black;
    
}

.under {
    font-size: small;
    font-style: italic;
}
.index {
    display: flex;
    justify-content: center;
}

